#!/bin/bash

/usr/sbin/logrotate -v -s /var/lib/logrotate/logrotate.status /etc/logrotatemax

EXITVALUE=$?

if [ $EXITVALUE != 0 ]; then
    /usr/bin/logger -t logrotate "Logrotate exited with error status $EXITVALUE"
else
    /usr/bin/logger -t logrotate "Logrotate maxsize 15 min completed successfully"
fi

# Restart the filebeat service
if systemctl restart filebeat
then
    /usr/bin/logger -t logrotate "restarted filebeat"
else
    /usr/bin/logger -t logrotate "failed to restart filebeat"
    exit 1
fi