{{ kong_log_dir }}/*.log {
    rotate 0
    missingok
    size 100M
    nodateext
    notifempty
    sharedscripts
    compress
    postrotate
        /bin/logger -t logrotate "kong postrotate 15min"
        [ ! -f {{ kong_prefix_dir }}/pids/nginx.pid ] || kill -USR1 $(cat {{ kong_prefix_dir }}/pids/nginx.pid)
        systemctl restart filebeat
    endscript
}
